/*Header*/
header{
    position: relative;
    height: 10vh;
    max-height: 10vh;
    min-height: 60px;
    min-width: 100%;

    background-color: black;
}
nav{
    padding: 0!important;
    height: 100%;
    min-height: 100%;
    width: 100%;
}
#navbar-div{
    height: 100%;
    min-width: 100%;
}
/*Logo*/
    #logo{
        margin-left: 6vw;
        height: 100%;
    }
    #logo-div{
        height: 100%;
    }
    #logo-div > img{
        height: 100%;
    }
/*Menu*/
    #menu{
        z-index: 1;
        padding: 1rem;
    }
    #menu > ul> li{
        text-transform: uppercase;
        color: white!important;
        margin-left: 1vw;
        font-size: 1rem;
    }
    #menu > hr{
        border-color:white;
        margin: 0;
    }
    .navbar-light .navbar-nav .nav-link{
        color: white;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color:orangered;
    }
/*Colapsar*/
    #botao-navbar{
        border-color: white;
        margin-right: 4vw;
    }