main{
    display: flex;
    align-items: center;
}
#div-form{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: grey;
}
form label{
    text-transform: uppercase;
    font-weight: 600;
    font-size: small;
}
form button{
    text-transform: uppercase;
    font-weight: bold !important;
}
.helper{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    padding: 5px;
    display: inline-block;
    
    font-size: 0.8rem;
    text-transform: lowercase;
}
.helper.no-error{
    border-color: darkgreen;
    background-color: #A7EAA0;
    color: darkgreen;
}
.helper.has-error{
    border-color: darkred;
    background-color: #FFE5E5;
    color: darkred;
}
input.form-control.has-error{
    background-color: #FFE5E5;
    color: darkred;
    border-color: darkred;
}
input.form-control.has-error::placeholder{
    color: #FF9090; 
}